A {color: #000000; font-family: Palladio I, serif; font-weight: bold}

.lfdtext { font-family: Palladio I, serif ; font-size: 12px; line-height : 16px; color: #000000;}
.lfdtext A{ font-family: Palladio I, serif ; font-size: 12px; line-height : 16px; color: #000000;}
.lgnavitem { font-family: Palladio I, serif ; font-size: 14px; line-height : 20px; color: #888888;}
.lgnavitem A { font-family: Palladio I, serif ; font-size: 16px; line-height : 20px; color: #0000f0; font-weight: bold}
.mdnavitem { font-family: Palladio I, serif ; font-size: 12px; line-height : 16px; color: #888888;}
.mdnavitem A { font-family: Palladio I, serif ; font-size: 12px; line-height : 16px; color: #000000;}
.smnavitem { font-family: Palladio I, serif ; font-size: 10px; line-height : 12px; color: #888888;}
.smnavitem A { font-family: Palladio I, serif ; font-size: 10px; line-height : 12px; color: #000000;}
.smalllyrics { font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif ; font-size: 10px; line-height : 13px; color: #888888; }

.smallnoserif { font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif ; font-size: 10px;}
.smallnoserif A{ font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif ; font-size: 10px;}
